<%= form_with(model: plate, local: true) do |form| %>
  <% if plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% plate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'Descrição' %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :'Preço' %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :'Tempo de preparo(minutos)' %>
    <%= form.number_field :timeprep %>
  </div>

  <div>
  <%= form.label :'Ingredientes'%>
  <%= collection_select(:ingredient, :ingredient_ids, Ingredient.all, :id, :description, {}, { :multiple => true } )%>
  </div>

  <div class="actions">
    <%= form.submit :'OK'%>
  </div>
<% end %>
