<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @plate.description %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @plate.price %>
</p>

<p>
  <strong>Tempo de preparo(minutos):</strong>
  <%= @plate.timeprep %>
</p>

<%= link_to 'Editar', edit_plate_path(@plate) %> |
<%= link_to 'Voltar', plates_path %>
